<!-- <h2>Ngx Resize Layout Demo</h2> -->

<div class="view-wrapper">
  <erc-layout [config]="config">
    <erc-row>
      <erc-col>
        <div class="block">block01</div>
      </erc-col>
      <erc-col>
        <div class="block">block02</div>
      </erc-col>
      <erc-col>
        <div class="block">block03</div>
      </erc-col>
    </erc-row>
    <erc-row>
      <erc-col>
        <div class="block">block04</div>
      </erc-col>
    </erc-row>
    <erc-row>
      <erc-col>
        <div class="block">block05</div>
      </erc-col>
    </erc-row>
  </erc-layout>
</div>
